@page "/trainers"
@layout MainLayout

<div class="main-content">
    <h1>Trainers Section</h1>
    <p>Trainer profiles and assignments will be shown here.</p>
</div>

<style>
.main-content {
    padding: 40px;
    background-color: #f0f4f8;
    min-height: 100vh;
}
</style>
